<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" lang="en" layout:decorator="admin/base">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--下面的css会导致菜单栏向右对齐-->
    <!--link rel="stylesheet" th:href="@{/editor/css/style.css}" href="/static/editor/css/style.css" /-->
    <link rel="stylesheet" th:href="@{/editor//css/editormd.css}" href="/static/editor/css/editormd.css" />
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <script th:src="@{/editor/js/jquery.min.js}" src="/static/editor/js/jquery.min.js"></script>
    <script th:src="@{/editor/js/editormd.min.js}" src="/static/editor/js/editormd.min.js"></script>
    <script th:src="@{/js/pushArticle.js}"></script>
    <script type="text/javascript">
        var testEditor;

        $(function() {
            testEditor = editormd("test-editormd", {
                width   : "100%",
                height  : 520,
                syncScrolling : "single",
                path    : "/editor/lib/"
            });
        });
    </script>
    <style type="text/css">
        .myrow {
            display: flex;
            flex-direction: row;
            /*margin-left:1em;*/
        }

    </style>

</head>

<body>

<div  layout:fragment="userinfo" >

    <a href="#" class="d-block">
        <p id="user-name-label" th:text="${user.username}"></p>
    </a>

</div>

<div class="content-wrapper" layout:fragment="content" >

<form>
    <div class="container">
        <div id="layout">

            <div class="form-group myrow">
                <label for="name" style="height: 2em">编写博客</label>
            </div>
            <div class="form-group myrow">
                <label for="name" style="height: 2em">标题：</label>
                <input type="text" id="title" name="title" style="width:20%;height: 2em" class="form-control" placeholder="标题 ...">
            </div>

            <div id="test-editormd">
                    <textarea id="content" name="content" style="display:none;">

				    </textarea>
            </div>

            <div class="form-group myrow ">
                <label for="name" style="height: 2em" >日期：</label>
                <input type="text" id="date" name="date" style="width:20%;height: 2em" class="form-control" placeholder="日期 ...">
            </div>

            <div class="form-group myrow">
                <label for="name" style="height: 2em">封面：</label>
                <select class="form-control" style="width:20%;height: 2em"  id="image">

                    <option th:each="u : ${img}">
                        <p type="text" id="image" th:text="${u.imgname}"></p>
                    </option>

                </select>
            </div>

            <div class="form-group myrow">
                <label for="name" style="height: 2em">分类：</label>
                <select class="form-control" style="width:20%;height: 2em"  id="category">

                    <option th:each="u : ${category}">
                        <p id="category" type="text" th:text="${u.categoryname}"></p>
                    </option>

                </select>
            </div>

            <div >
                <button type="button" onclick="pushArticle()" class="btn btn-dark" id="push">发布</button>
            </div>

        </div>
    </div>

</form>

</div>


</body>
</html>