<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leon.myblog.mapper.PermisionMapper">
  <resultMap id="BaseResultMap" type="com.leon.myblog.enity.Permision">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="permisonid" jdbcType="INTEGER" property="permisonid" />
    <result column="permisionname" jdbcType="VARCHAR" property="permisionname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, permisonid, permisionname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permision
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permision
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.leon.myblog.enity.Permision">
    insert into permision (id, permisonid, permisionname
      )
    values (#{id,jdbcType=INTEGER}, #{permisonid,jdbcType=INTEGER}, #{permisionname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.leon.myblog.enity.Permision">
    insert into permision
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="permisonid != null">
        permisonid,
      </if>
      <if test="permisionname != null">
        permisionname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="permisonid != null">
        #{permisonid,jdbcType=INTEGER},
      </if>
      <if test="permisionname != null">
        #{permisionname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.leon.myblog.enity.Permision">
    update permision
    <set>
      <if test="permisonid != null">
        permisonid = #{permisonid,jdbcType=INTEGER},
      </if>
      <if test="permisionname != null">
        permisionname = #{permisionname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leon.myblog.enity.Permision">
    update permision
    set permisonid = #{permisonid,jdbcType=INTEGER},
      permisionname = #{permisionname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>