<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/front/layui/css/layui.css}" >
    <link rel="stylesheet" th:href="@{/front/css/main.css}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">

    <style>
        .col-center-block {
            float: none;
            display: block;
            margin: 0 auto;
            /* margin-left: auto; margin-right: auto; */
        }
    </style>
</head>
<body>
<div class="header">
    <div class="menu-btn">
        <div class="menu"></div>
    </div>
    <h1 class="logo">
        <a href="#">
            <span>MYBLOG</span>
            <img th:src="@{/front/img/logo.png}">
        </a>
    </h1>
    <div class="nav">
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>

        <a href="/front" class="active">主页</a>
        <a href="/front/category">分类</a>
        <!--a href="#">归档</a-->
        <a href="/front/timeline">时间轴</a>
        <a href="#">关于</a>
    </div>
    <ul class="layui-nav header-down-nav">
        <li class="layui-nav-item"><a href="/front" class="active">主页</a></li>
        <li class="layui-nav-item"><a href="/front/category">分类</a></li>
        <!--li class="layui-nav-item"><a href="leacots.html">归档</a></li-->
        <li class="layui-nav-item"><a href="album.html">时间轴</a></li>
        <li class="layui-nav-item"><a href="/front/timeline">关于</a></li>
    </ul>
    <p class="welcome-text">
        <span class="name">不积跬步无以至千里</span>~
    </p>
</div>


<div class="content layui-container" layout:fragment="fornt_content">


</div>


</body>
</html>