<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" lang="en" layout:decorator="front/base">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>博文分类</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/front/layui/css/layui.css}" >
    <link rel="stylesheet" th:href="@{/front/css/main.css}" >
    <script type="text/javascript" th:src="@{/front/layui/layuis.js}"></script>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>



<div class="content layui-container" layout:fragment="fornt_content">
    <div class="layui-row content whisper-content">



        <div class="layui-col-xs12">
            <div class="cont w-100">

                <div class="list-item">
                    <div class="item" th:each="p:${pageInfo.list}">
                        <div class="layui-fluid">
                            <div class="layui-row" >
                                <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
                                    <div class="img"><img  th:src="@{${p.articleimage.url}}" height="195" width="280" alt=""></div>
                                </div>
                                <div  class="layui-col-xs12 layui-col-sm8 layui-col-md7">

                                    <div class="item-cont">
                                        <h3>
                                            <a     class="text-dark"
                                                   th:href="@{'/front/detail?id='+${p.id}}"
                                                   th:text="${p.title}">

                                            </a>
                                        </h3>
                                        <p th:text="${p.content}"></p>
                                        <a href="#" class="go-icon"></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--分页处-->
    <!-- 分页条信息 -->
    <div style="text-align: center;">
        <div class="" >
            <ul class="pagination">
                <li th:if="${pageInfo.hasPreviousPage}" >
                    <a      class="page-link text-dark"
                            th:each="p:${pageInfo.list}"
                            th:href="@{/front/categoryDetail(pageNum=${pageInfo.prePage},categoryid=${p.categoryid})}"
                            aria-label="Previous"> <i class="fa fa-angle-left"></i>&nbsp;上一页
                    </a>
                </li>

                <th:block th:each="nav : ${pageInfo.navigatepageNums}">
                    <li th:class=" ${nav==pageInfo.pageNum}?'active':' '" >
                        <a class="text-dark"
                           th:href="@{/front/categoryDetail(pageNum=${nav},categoryid=${pageInfo.list[0].categoryid})}"
                           th:text="${nav}">
                        </a>
                    </li>
                </th:block>

                <th:block th:if="${pageInfo.hasNextPage}">
                    <li>
                        <a  class="page-link text-dark"
                            th:each="p:${pageInfo.list}"
                            th:href="@{/front/categoryDetail(pageNum=${pageInfo.nextPage},categoryid=${p.categoryid})}"
                            aria-label="Next"> 下一页&nbsp;<i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </th:block>


            </ul>
        </div>
    </div>

</div>




</body>
</html>